In [3]:
import numpy as np
import pandas as pd

labels_list = ["Ali","Veli","Ayşe","Fatma"]

dataList = [12,20,30,45]

In [4]:
pd.Series(dataList,labels_list)

Ali      12
Veli     20
Ayşe     30
Fatma    45
dtype: int64

In [5]:
pd.Series(dataList)

0    12
1    20
2    30
3    45
dtype: int64

In [8]:
arr = np.array([11,22,33,44])

In [9]:
pd.Series(arr,labels_list)

Ali      11
Veli     22
Ayşe     33
Fatma    44
dtype: int32

In [10]:
pd.Series(data = arr, index = ["a","b","c","d"])

a    11
b    22
c    33
d    44
dtype: int32

In [11]:
 ser17 = pd.Series([5,10,14,20],["Buğday","Mısır","Kiraz","Erik"])

In [12]:
ser17

Buğday     5
Mısır     10
Kiraz     14
Erik      20
dtype: int64

In [13]:
ser18 = pd.Series([2,8,11,27],["Elma","Mısır","Kiraz","Armut"])

In [14]:
ser18

Elma      2
Mısır     8
Kiraz    11
Armut    27
dtype: int64

In [15]:
ser17 + ser18

Armut      NaN
Buğday     NaN
Elma       NaN
Erik       NaN
Kiraz     25.0
Mısır     18.0
dtype: float64

In [16]:
total = ser17 + ser18
total

Armut      NaN
Buğday     NaN
Elma       NaN
Erik       NaN
Kiraz     25.0
Mısır     18.0
dtype: float64

In [17]:
total["Kiraz"]

25.0

# DATAFRAME

In [18]:
import numpy as np
import pandas as pd 
from numpy.random import randn

In [19]:
randn(3,3)

array([[-1.62441028,  0.24807184, -2.18538093],
       [ 0.84676226, -0.51263629,  0.31345963],
       [ 0.01287534, -0.74537025,  3.27890086]])

In [21]:
df = pd.DataFrame(data = randn(3,3), index = ["A","B","C"],columns = ["1","2","3"])
df

          1         2         3
A -0.253194 -0.454731  1.356949
B -1.543790  0.447978 -0.788961
C  1.060588 -0.572294 -0.515573

In [22]:
df["1"]

A   -0.253194
B   -1.543790
C    1.060588
Name: 1, dtype: float64

In [23]:
type(df["1"])

pandas.core.series.Series

In [24]:
df.loc["B"]

1   -1.543790
2    0.447978
3   -0.788961
Name: B, dtype: float64

# DATAFRAME FILTER

In [31]:
df2 = pd.DataFrame(randn(4,3),["A","B","C","D"],["BİR","İKİ","ÜÇ"])

In [32]:
df2

        BİR       İKİ        ÜÇ
A -0.483938  1.003943 -0.248704
B -0.169426 -0.516191 -0.387354
C  1.180957  1.867278 -0.379567
D  1.028321 -0.253864  1.987267

In [33]:
df2 > 1

     BİR    İKİ     ÜÇ
A  False   True  False
B  False  False  False
C   True   True  False
D   True  False   True

In [35]:
booleanDf = df2 >1
df

     BİR    İKİ     ÜÇ
A  False   True  False
B  False  False  False
C   True   True  False
D   True  False   True